/*首页*/
/*备案信息*/
.record{background: url(../img/bottom123.jpg) no-repeat center center; height: 155px; width: 1100px; margin-bottom: 40px; font-size: 16px; text-align: center; color: #666666; padding-top: 35px;}

